*
{
     padding: 0px;
     margin: 0px;
}
body
{
     width: 100%;
     height: 700px;
     background-attachment: fixed;
     background-image: url("./music1.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
}
#heading
{
     letter-spacing: 5px;
     font-size: 50px;
     font-family: cursive;
     font-weight: bold;
     text-align: center;
     text-decoration:underline dotted;
}
#band
{
     position: relative;
     width: 100%;
     height: 100%;
}
.drum
{
     width: 270px ;
     height: 270px;
     rotate: 325deg;
     cursor: pointer;
     border-radius: 100%;
}
.drum10
{
     width: 200px ;
     height: 200px;
     rotate: 325deg;
     border-radius: 100%;
     cursor: pointer;
}
#drum1
{
     position: absolute;
     top: 55%;
     left: 25%;
     z-index: 1;
}
#drum11
{
     position: absolute;
     top: 39%;
     left: 36%;
     z-index: 3;
}
#drum21
{
     position: absolute;
     top: 39%;
     left: 49%;
     z-index: 3;

}
#drum2
{
     position: absolute;
     top: 52%;
     left: 42%;
     rotate: 0deg;
     z-index: 2;
}
#drum3
{
     position: absolute;
     top: 55%;
     left: 57%;
     z-index: 2;

}
#plate,#plate2,#plate3
{
     width: 200px;
     height: 200px;
     cursor: pointer;
     z-index: 4;
     border-radius: 50%;
     opacity: 0.9;
}
#plate,#plate2
{
     width: 200px;
     height: 200px;
}
#plate
{
     position: absolute;
     left: 31%;
     top: 20%;
}
#plate2
{
     position: absolute;
     left: 59%;
     top:30%;
     z-index: 10;
}
#plate3
{
     position: absolute;
     left: 18%;
     top:42%;
}